/* Created by Tivotal */
@media screen and (max-width: 320px) {
  .lead {
    font-size: 5px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .lead {
    font-size: 8px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .lead {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .lead {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .lead {
    font-size: 20px;
  }
}


@media screen and (min-width: 1200px) {
  .lead {
    font-size: 18px;
  }
}

.skillsCerceve {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imgSkills {

  animation: fadeInUp 3s forwards;
}

.imgSkills .mySwiper {
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
  display: flex;
}

.imgSkills img {
  width: 40%;
  border-radius: 25%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.imgSkills .swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide-visible {
  height: 20px;
}

.swiper-slide-active {
  height: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.baslik {
  background-color: #F9FBE7;

}

body {
  background-color: #0a0c10;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slider-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  padding: 24px;
}

.card {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  height: 500px;
  background-color: #F9FBE7;
  transition: all 0.6s ease;
}

.card:hover {
  box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #222222;
  border-radius: 20px;
  top: 0;
  left: 0;
}

.card-image {
  position: relative;
  left: -45px;
  height: 150px;
  width: 150px;
  border-radius: 25%;
  padding: 3px;
  transition: transform 0.3s ease;
}

.card-image img {
  height: 100%;
  width: 100%;
  border-radius: 25%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.description {
  margin-top: 18px;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #272829;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #BFCCB5;
}

.swiper-navBtn {
  color: #BFCCB5;
  transition: all 0.3s ease;
}

.swiper-navBtn:hover {
  color: #272829;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #BFCCB5;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #272829;
}

@media (max-width: 768px) {
  .slider-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

.banner {
  position: absolute;
  top: -2px;
  width: 100%;
}

.card:hover .bannerSquare {
  top: 40px;
}

.card:hover .card-image {
  transform: translateY(5px);
}

.bannerColor {
  position: absolute;
  top: 0;
  right: 22px;
  width: 29%;
  height: 50px;
  border-inline: black solid 1px;
}

.bannerSquare {

  position: absolute;
  overflow: hidden;
  top: 0;
  right: 22px;
  width: 29%;
  height: 200px;
  transition: top 0.3s ease;
}

.Lannister {
  background-color: #86090a;
}

.Stark {
  background-color: #d5ccb0;
}

.Tyrell {
  background-color: #8d9f80;
}

.Tully {
  background-color: #ad432e;
}

.Arryn {
  background-color: #101929;
}

.Baratheon {
  background-color: #fecf02;
}

.Targaryen {
  background-color: #282828;
}

.Tarly {
  background-color: #565541;
}

.Martell {
  background-color: #f0863a;
}

.Greyjoy {
  background-color: #1a1a1a;
}

.Mormont {
  background-color: #254b1c;
}